#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.bottomPadding {
  padding-bottom: 1em;
}

u.dotted{
  border-bottom: 1px dashed #999;
  text-decoration: none; 
}